<div class="homepage-container">
  <nav class="left-taskbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/experience" routerLinkActive="active" class="nav-link">Experience</a>
      </li>
      <li class="nav-item">
        <a routerLink="/bullets" routerLinkActive="active" class="nav-link">Bullets</a>
      </li>
      <li class="nav-item">
        <a routerLink="/jobs" routerLinkActive="active" class="nav-link">Jobs</a>
      </li>
    </ul>
  </nav>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>